.infoWindow{
    background-color: azure;
    overflow: auto;
    width: 10em;
    position: relative;
    padding: 0px;
    text-align: center;
 }
 .infoWindow h1{
    font-size: 15px;
    padding: 0%;
    text-align: center;
 }
 .infoWindow h2{
    font-size: 15px;
    padding: 0%;
 }
 .infoWindow img{
    width: 100em;
    padding: 0;
 }